html {
    overflow: scroll;
    overflow-x: hidden;
}

body {
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar { 
    display: none; 
}

.videoContainer 
{
    position:absolute;
    height:100%;
    width:100%;
    overflow: hidden;
}

.videoContainer video 
{
    min-width: 120%;
    min-height: 100%;
}

.audioContainer audio { 
    display:none;
 }

 #video_overlays {
    position: absolute;
    bottom: 0%;
	right: 0%;
    width: 250px;
    height: 345px;
    z-index: 100;
  }